/build/
/dist/
/nbproject/private/
/lib
*.log
src/osvr/java/examples/TrackerCallbackToJava.java
src/osvr/util/callback/OSVR_Callback.java
src/osvr/util/callback/OSVR_PoseCallback.java
test/osvr/java/examples/clients/TrackerCallbackTest.java
test/osvr/java/examples/RegisterCallbackTest.java
test/osvr/java/examples/clients/TrackerCallbackTest.java
c/osvr_util_callback_OSVR_Callback.h
c/osvr_util_callback_OSVR_PoseCallback.h
c/osvr_java_examples_TrackerCallbackToJava.h
c/osvr_util_callback_OSVR_Callback_CallbackType.h
src/osvr/util/CPPObject.java
OpenAL64.dll
lwjgl64.dll